.yugabyte-features-logos {
	padding-bottom: 104px;
	overflow: hidden;
}

.yugabyte-features-logos img {
	width: auto;
	height: auto;
	max-width: 196px;
}

.yugabyte-features-logos .section-head {
	padding: 80px 0 32px;
}

.yb-features-logos-items {
	display: flex;
	gap: 24px;
	flex-flow: row wrap;
	margin: 16px 0 0;
}

.yb-feature-logo-item {
	display: flex;
	flex-flow: column;
	width: calc(25% - 18px);
	max-width: 100%;
	padding: 0 0 0 24px;
	gap: 30px;
	border-left: 1px solid var(--grayscale-gray-4);
	min-height: 228px;
	justify-content: space-between;
	margin: 0 0 32px;
}

.yb-feature-logo-item .feature-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	font-family: Roobert;
	margin: 0 0 12px;
}

.yb-feature-logo-item .feature-company-summary {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	width: 244px;
	max-width: 100%;
}

.section-bg-dark .yb-feature-logo-item .feature-company-summary {
	color: var(--grayscale-gray-3);
}

.yugabyte-features-logos .cta {
	margin: 44px 0 0;
}

@media (max-width: 991px) {

	.yugabyte-features-logos .section-head {
		padding: 64px 0 24px;
	}

	.yb-features-logos-items {
		gap: 36px;
	}

	.yb-feature-logo-item {
		width: calc(50% - 18px);
	}

	.yb-sec .yb-feature-logo-item img {
		margin: 0 0 17px;
	}

	.yb-feature-logo-item .feature-title {
		font-size: 22px;
		line-height: 26px;
		margin: 0 0 9px;
	}

	.yb-feature-logo-item .feature-company-summary {
		margin: 0 0 6px;
	}

	.yugabyte-features-logos {
		padding-bottom: 64px;
	}
}

@media (max-width: 767px) {

	.yugabyte-features-logos .section-head {
		padding: 56px 0 16px;
	}

	.yb-features-logos-items {
		gap: 40px;
	}

	.yb-feature-logo-item {
		width: 290px;
		max-width: 100%;
		min-height: inherit;
		gap: 0;
	}

	.yugabyte-features-logos img {
		max-width: 100%;
	}

	.yb-sec .yb-feature-logo-item img {
		margin: 0 0 8px;
	}

	.yb-feature-logo-item .feature-title {
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 8px;
	}

	.yb-feature-logo-item .feature-company-summary {
		font-size: 12px;
		line-height: 16px;
		margin: 0;
	}

	.yugabyte-features-logos {
		padding-bottom: 56px;
	}
}

@media (max-width: 599px) {

	.yb-features-logos-items {
		flex-flow: column;
	}
}
