.yugabyte-choices-table {
	padding: 0 0 90px;
}

.yugabyte-choices-table img {
	width: auto;
	height: auto;
}

.yugabyte-choices-table.section-bg-gray {
	background: var(--grayscale-gray-1);
}

.yugabyte-choices-table .section-head {
	padding-bottom: 40px;
	margin-bottom: 56px;
	border-bottom: 1px solid var(--grayscale-gray-3);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.yb-ct-wrap {
	display: flex;
	gap: 22px;
}

.yb-ct table {
	border-spacing: 0;
	border-radius: 8px;
	width: 100%;
}

.yb-ct a {
	margin: 12px 0 0;
}

.yb-ct thead th:not(:first-child) {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	padding: 24px 20px 55px;
	position: relative;
}

.yb-ct thead th {
	font-family: Roobert;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	text-align: left;
	padding: 42px 30px;
	position: relative;
	background: var(--grayscale-gray-12);
	transition: all 300ms ease;
	width: calc((100% / 4) - 280px);
}

.yb-ct thead th.th-label {
	line-height: 24px;
	padding: 24px 20px;
	color: #121017;
}

.yb-ct thead th.th-label:empty {
	padding: 0;
}

.yb-ct .th-sub-text {
	display: block;
	font-family: inherit;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.yb-ct.table-col-4 thead th {
	width: calc((100% / 3) - 280px);
}

.yb-ct.table-col-3 thead th {
	width: calc((100% / 2) - 280px);
}

.yb-ct.table-col-2 thead th {
	width: 50%;
}

.active-1 .yb-ct thead th:nth-child(2),
.active-2 .yb-ct thead th:nth-child(3),
.active-3 .yb-ct thead th:nth-child(4),
.active-4 .yb-ct thead th:nth-child(5) {
	background-color: var(--grayscale-gray-11);
	border-right-color: transparent;
}

.active-1 .yb-ct thead th:nth-child(1),
.active-2 .yb-ct thead th:nth-child(2),
.active-3 .yb-ct thead th:nth-child(3),
.active-4 .yb-ct thead th:nth-child(4) {
	border-right-color: transparent;
}

.yb-ct thead th::after {
	position: absolute;
	content: "";
	width: calc(100% + 1px);
	height: 200px;
	background: var(--grayscale-gray-11);
	left: 0;
	top: 100%;
	z-index: 0;
	transition: all 300ms ease;
	opacity: 0;
}

.active-1 .yb-ct thead th:nth-child(2)::after,
.active-2 .yb-ct thead th:nth-child(3)::after,
.active-3 .yb-ct thead th:nth-child(4)::after,
.active-4 .yb-ct thead th:nth-child(5)::after {
	opacity: 1;
}

.yb-ct thead th:not(:last-child) {
	border-right: 1px solid var(--grayscale-gray-10);
}

.yb-ct thead th:first-child {
	border-radius: 0 0 4px 4px;
	width: 280px;
	vertical-align: middle;
}

.yb-ct thead th.th-label:not(:first-child) {
	padding: 24px 20px;
	background: #fff;
	color: #121017;
	text-align: center;
}

.yb-ct thead .thead-link {
	position: absolute;
	bottom: 16px;
	left: 20px;
}

.yb-ct.table-col-2 thead th:first-child {
	width: 50%;
}

.yb-ct thead th:last-child {
	border-radius: 4px 4px 0 0;
}

.yb-ct thead th.th-label:first-child {
	border-radius: 8px 0 0 0;
}

.yb-ct thead th.th-label:last-child {
	border-radius: 0 8px 0 0;
}

.yb-ct tbody th {
	font-family: Roobert;
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	text-align: left;
	padding: 32px 20px 20px 0;
}

.yb-ct tbody tr:last-child td {
	border-radius: 0 0 4px 4px;
}

.yb-ct td {
	font-family: inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	padding: 20px;
	padding: 20px 20px 44px;
	transition: all 300ms ease;
	background-color: transparent;
	position: relative;
	z-index: 1;
}

.section-bg-dark .yb-ct td {
	background-color: var(--grayscale-black);
}

.active-1 .yb-ct tbody tr td:nth-child(2),
.active-2 .yb-ct tbody tr td:nth-child(3),
.active-3 .yb-ct tbody tr td:nth-child(4),
.active-4 .yb-ct tbody tr td:nth-child(5) {
	background-color: var(--grayscale-gray-11);
}

.yb-ct td:first-child {
	padding-left: 30px;
}

.yb-ct tr:not(:last-child) td {
	border-bottom: 1px solid var(--grayscale-gray-10) !important;
}

.yb-ct tbody {
	position: relative;
	z-index: 1;
}

.yb-ct tfoot td {
	padding: 15px 0;
}

.yb-ct-nav {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.yb-ct-range {
	width: 100%;
	height: 4px;
	background: var(--primary-purple);
	position: relative;
}

.yb-ct-nav .purple-bar {
	width: calc(25% - 12.5%);
	position: absolute;
	left: 0;
	background: var(--primary-orange);
	height: 100%;
	transition: all 300ms ease;
}

.table-col-4 .yb-ct-nav .purple-bar {
	width: calc((100% / 3) - ((100% / 3) / 2));
}

.table-col-3 .yb-ct-nav .purple-bar {
	width: 25%;
}

.table-col-2 .yb-ct-nav .purple-bar {
	width: 50%;
}

.active-2 .yb-ct-nav .purple-bar {
	width: calc(50% - 12.5%);
}

.active-2 .table-col-4 .yb-ct-nav .purple-bar {
	width: calc((100% / 3) + (100% / 3) - ((100% / 3) / 2));
}

.active-2 .table-col-3 .yb-ct-nav .purple-bar {
	width: 75%;
}

.active-3 .yb-ct-nav .purple-bar {
	width: calc(75% - 12.5%);
}

.active-3 .table-col-4 .yb-ct-nav .purple-bar {
	width: calc(100% - ((100% / 3) / 2));
}

.active-4 .yb-ct-nav .purple-bar {
	width: calc(100% - 12.5%);
}

.yb-ct-nav .bar-thumb {
	display: inline-block;
	position: absolute;
	top: -20px;
	left: calc((25% - 12.5%) - 12px);
	transition: all 300ms ease;
}

.table-col-4 .yb-ct-nav .bar-thumb {
	left: calc((100% / 3) - ((100% / 3) / 2) - 12px);
}

.table-col-3 .yb-ct-nav .bar-thumb {
	left: calc(25% - 12px);
}

.table-col-2 .yb-ct-nav .bar-thumb {
	left: calc(50% - 12px);
}

.section-bg-dark .bar-thumb path {
	fill: var(--grayscale-gray-11);
}

.active-2 .yb-ct-nav .bar-thumb {
	left: calc((50% - 12.5%) - 12px);
}

.active-2 .table-col-4 .yb-ct-nav .bar-thumb {
	left: calc(((100% / 3) + (100% / 3) - ((100% / 3) / 2)) - 12px);
}

.active-2 .table-col-3 .yb-ct-nav .bar-thumb {
	left: calc(75% - 12px);
}

.active-3 .yb-ct-nav .bar-thumb {
	left: calc((75% - 12.5%) - 12px);
}

.active-3 .table-col-4 .yb-ct-nav .bar-thumb {
	left: calc((100% - ((100% / 3) / 2)) - 12px);
}

.yb-ct-nav .bar-thumb svg {
	margin-bottom: 0 !important;
}

.active-4 .yb-ct-nav .bar-thumb {
	left: calc((100% - 12.5%) - 12px);
}

.bar-thumb::after {
	content: "";
	width: 4px;
	height: 4px;
	background: #f5f5f7;
	position: absolute;
	bottom: 0;
	left: 11px;
}

.section-bg-dark .bar-thumb::after {
	background: var(--grayscale-black);
}

.yb-ct-mark {
	font-family: Inter;
	position: relative;
	display: flex;
	flex-flow: column;
	margin: 12px 0 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: var(--grayscale-gray-10);
}

.yb-ct-mark.mark-end {
	text-align: right;
}

.yb-ct-mark b {
	font-family: Roobert;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	color: var(--grayscale-black);
}

.section-bg-dark .yb-ct-mark {
	color: var(--grayscale-gray-4);
}

.section-bg-dark .yb-ct-mark b {
	color: #fff;
}

.yb-ct thead tr th .yb--link-white span {
	font-family: inherit;
}

.mobile-thead-title {
	display: none;
}

@media (max-width: 1199px) {

	.yb-ct thead th:not(:first-child) {
		font-size: 18px;
		line-height: normal;
	}

	.yb-ct tbody th {
		font-size: 18px;
		padding: 24px 15px 15px 0;
		position: relative;
		z-index: 1;
	}

	.yb-ct .th-sub-text {
		font-size: 16px;
		line-height: normal;
	}

	.yb-ct thead th {
		padding: 24px 20px;
		font-size: 18px;
	}

	.yb-ct td {
		padding: 15px;
		font-size: 15px;
	}

	.yb-ct thead th:first-child {
		width: 250px;
	}

	.yb-ct a {
		margin-top: 8px;
	}
}

@media (min-width: 992px) {

	.yb-ct thead th:not(:first-child) {
		width: 250px;
	}

	.yb-ct.table-col-4 thead th:not(.th-label):not(:first-child) {
		width: 340px;
		max-width: 340px;
	}

	.yb-ct tbody tr:first-child td {
		padding-top: 44px;
	}
}

@media (max-width: 991px) {

	.yugabyte-choices-table .section-head h2 {
		max-width: 500px;
	}

	.yb-ct .th-sub-text {
		font-size: 15px;
		line-height: 18px;
	}

	.yb-ct thead tr th .yb--link-white span {
		flex: 1 0 25%;
	}

	.yb-ct thead th {
		padding: 24px 20px 41px;
	}

	.yb-ct td:first-child {
		padding-left: 20px;
	}

	.yb-ct thead th:first-child {
		color: var(--grayscale-white);
		font-family: Roobert;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		width: 140px;
	}

	.yb-ct thead th.th-label {
		font-size: 16px !important;
	}

	.yb-ct thead th:not(:first-child) {
		color: var(--grayscale-white);
		font-family: Roobert;
		font-size: 20px;
		font-weight: 500;
		line-height: 28px;
		padding: 24px 10px 45px;
		width: 130px;
	}

	.yb-ct.table-col-4 thead th:not(:first-child) {
		width: 250px;
		max-width: 250px;
	}

	.yb-ct thead .thead-link {
		left: 10px;
	}

	.yb-ct thead tr th .yb--link-white {
		font-family: Roobert;
		font-size: 14px;
		font-weight: 600;
		line-height: normal;
		white-space: initial;
		margin-top: 18px;
		align-items: flex-start;
	}

	.yb-ct tbody th {
		font-family: Roobert;
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
	}

	.yb-ct td {
		font-family: inter;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		padding: 11px;
	}

	.yb-ct-mark b {
		font-family: Roobert;
		font-size: 20px;
		font-weight: 500;
		line-height: 28px;
	}

	.yb-ct-mark {
		font-family: inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
	}

	.yb-ct tfoot td:first-child {
		word-wrap: break-word;
		padding-right: 10px;
	}

	.yb-ct.table-col-5 {
		width: 100%;
	}
}

@media (min-width: 701px) AND (max-width: 991px) {

	.yb-ct thead tr th .yb--link-white[title="Download Free"] span {
		white-space: nowrap;
		font-size: 13px;
	}
}

@media (max-width: 700px) {

	.mobile-thead-title {
		display: block;
		padding-left: 0;
		background: transparent;
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		padding-bottom: 20px;
		padding-top: 30px;
	}

	.yb-ct table {
		table-layout: auto;
		border-radius: 8px;
		overflow: hidden;
	}

	.yb-ct tfoot tr,
	.yb-ct thead tr,
	.yb-ct tbody tr {
		display: flex;
		width: 100%;
		flex-flow: wrap;
	}

	.yb-ct thead th.th-label {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px !important;
		line-height: 16px !important;
	}

	.yb-ct tfoot td,
	.yb-ct tbody td:first-child,
	.yb-ct thead th:first-child {
		width: 100%;
		padding-left: 0;
		padding-bottom: 20px;
		padding-top: 30px;
	}

	.yb-ct tbody td:not(:first-child),
	.yb-ct thead th:not(:first-child) {
		width: 25%;
	}

	.yb-ct.table-col-4 tbody td:not(:first-child),
	.yb-ct.table-col-4 thead th:not(:first-child) {
		width: 33.3%;
	}

	.yb-ct.table-col-4 thead th[colspan="2"] {
		max-width: none;
		width: 66.6%;
	}

	.yb-ct.table-col-5 thead th[colspan="2"] {
		width: 50%;
	}

	.yb-ct tbody td:first-child {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
	}

	.yb-ct tbody td:not(:first-child) {
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		padding: 10px 7px 14px;
		border-radius: 0 0 4px 4px;
		border-top: 1px solid transparent;
		border-bottom: 0 !important;
		text-align: center;
	}

	.yugabyte-choices-table .section-head {
		align-items: flex-end;
	}

	.yugabyte-choices-table .section-head h2 {
		font-family: Roobert;
		margin-bottom: 0;
		font-size: 54px;
		font-weight: 400;
		line-height: 56px;
		letter-spacing: -1.08px;
		margin-right: -15px;
	}

	.yb-ct thead th:not(:first-child),
	.yb-ct thead th {
		padding: 24px 10px 65px;
	}

	.yb-ct thead th:first-child {
		background: transparent;
		line-height: 24px;
		border-right: 0;
		font-size: 0;
		padding: 0;
		height: 0;
	}

	.yb-ct thead th:not(:first-child) {
		font-size: 16px;
		line-height: 24px;
	}

	.yb-ct thead tr th .yb--link-white {
		margin-top: 18px;
		white-space: normal;
		flex-flow: wrap;
		font-size: 12px;
	}

	.yb-ct thead tr th .yb--link-white::after {
		width: 100%;
		background-repeat: no-repeat;
	}

	.yb-ct tbody th {
		font-size: 24px;
		line-height: 32px;
	}

	.yb-ct td {
		font-size: 16px;
		line-height: 24px;
		padding: 11px;
	}

	.yb-ct-mark b {
		font-size: 20px;
		line-height: 28px;
	}

	.yb-ct-mark {
		font-size: 16px;
		line-height: 24px;
	}

	.yb-ct tr:not(:last-child) td {
		border: 0;
	}

	.active-1 .yb-ct thead th:nth-child(2)::after,
	.active-2 .yb-ct thead th:nth-child(3)::after,
	.active-3 .yb-ct thead th:nth-child(4)::after,
	.active-4 .yb-ct thead th:nth-child(5)::after {
		opacity: 0;
	}

	.yb-ct tfoot td:first-child {
		padding-left: 0;
	}
}

@media (max-width: 424px) {

	.yb-ct thead th:not(:first-child),
	.yb-ct thead th {
		padding: 24px 10px 100px;
	}

	.yb-ct .th-sub-text {
		font-size: 10px;
		line-height: normal;
	}

	.yb-ct thead tr th .yb--link-white span {
		max-width: 40px;
	}
}
